<main>
  <div class="header">
    <a routerLink="" id="headerLogo">
      <img class="logo" src="../assets/logo_mit_text_WEISS.png" alt="return to home page">
    </a>
    <div class="navBarLinksDiv">
      <a class="navBarLink" routerLink="">Home Page</a>
      <a class="navBarLink" routerLink="shows">Shows</a>
      <a class="navBarLink" routerLink="booking">Reservierung</a>
      <a class="navBarLink" routerLink="location">Anfahrt</a>
      <a class="navBarLink" routerLink="giftshop">Geschenkeladen</a>
      <a class="navBarLink" routerLink="aboutus">Über uns</a>
    </div>
    <!-- <div>
      <img class="logo" src="../assets/logo_mit_text_BLOCKER.png">
    </div> -->
  </div>

  <div class="contentBorderDiv">
    <div class="contentDiv">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footerDiv">
    <a>Copyright 2024 Planetarium am Südstern</a>
  </div>
</main>