<h1>Das Planetarium am Südstern</h1>
<div class="mainContent">
    <div>
        <p>
            ... ist seit 2024 <b>der</b> #1 Sammelpunkt für Astronomieliebhaber aus Berlin-Kreuzberg, und überall sonst
            wo die Leute nachts mit Sehnsucht gen Himmel gucken. Montag bis Samstag, jeden Abend von 17-23 Uhr, laufen
            spannende Vorstellungen über verschiedene Themen sowohl nah als fern. Verschiedene Shows erzählen
            Geschichten über die Interpretationen und Mythen unserer Sternzeichen in verschiedenen Kulturen, unser
            Sonnensystem, die Sonne, und unsere Nachbarplaneten, bis hin zu Reisen durchd das gesamte Universum vom
            Urknall bis zum großen Kollaps am Ende der Zeit. Komm, und sei bei der nächsten Dabei!
        </p>
        <ul style="margin-bottom: 5rem;">
            <li>
                <a routerLink="booking" class="listLink">Jetzt buchen</a>
            </li>
            <li>
                <a routerLink="shows" class="listLink">Vorstellungen</a>
            </li>
            <li>
                <a routerLink="location" class="listLink">Anfahrt</a>
            </li>
            <li>
                <a routerLink="giftshop" class="listLink">Giftshop</a>
            </li>
        </ul>

        <h3>Öffnungszeiten</h3>
        <p>Montag bis Samstag, 17:00 bis 23:00. Feiertags ist das Planetarium geschlossen.</p>
        <h3>Barrierefreiheit</h3>
        <p>Das gesamte Planetarium ist für Rollstuhlfahrer zugänglich.</p>
        <h3>Kontakt</h3>
        <p id="contactEmail">Email: info@planetarium-suedstern.de</p>
        <p>Tel.: +49-123-456-789</p>

    </div> 

    <div class="imagesDiv">
        <div class="imgDiv">
            <img src="../../assets/outside.jpg" alt="Das Planetarium von außen" style="height: 100%; width: 20em;">
            <p>Das Planetarium von außen</p>
        </div>
        <div class="imgDiv">
            <img src="../../assets/PlanetariumShowRoom" alt="unser Vorführungsraum 1"
                style="height: 100%; width: 20em;">
            <p>unser Vorführungsraum 1</p>
        </div>
    </div>
</div>